<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'styles.html' %}
{% load staticfiles %}
<!-- <!DOCTYPE HTML>
<html>
<head>
<title>Mi reproductor de musica</title>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
</head> -->

{% block contenido %}
<script>var __links = document.querySelectorAll('a');function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;for (var i = 0, l = __links.length; i < l; i++) {if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', __linkClick, false);}}</script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});	  
});
</script>
<!-- contact-form -->	
	<div class="message warning">
		<div class="inset">
			<div class="login-head">
				<h1>Login Form</h1>
				<div class="alert-close"> </div> 			
			</div>
			<form method="post" action="#">
				{% csrf_token %}
				{% if mensaje %}
					<span style="color: red;">
						{{ mensaje }}
					</span>
				{% endif %}
				<li>
					<input id="usuario" name="usuario" type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}"><a href="#" class=" icon user"></a>
				</li>
					<div class="clear"> </div>
				<li>
					<input type="password" id="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"> <a href="#" class="icon lock"></a>
				</li>
				<div class="clear"> </div>
				<div class="submit">
					<input type="submit" onclick="myFunction()" value="Sign in" >
					<h4><a href="#">Lost your Password ?</a></h4>
							<div class="clear">  </div>	
				</div>
						
				</form>
			</div>					
		</div>					
		<div class="clear"> </div>
		<!--- footer --->
		<div class="footer">
			<p>Template by <a href="http://w3layouts.com">w3layouts</a></p>
		</div>
{% endblock %}