{% extends 'masterpage.html' %}
{% load staticfiles %}

{% block titulo %}
	Album
{% endblock %} 
{% block estilos %}
<style>
	.table td{
		vertical-align: middle;
	}
</style>
{% endblock %} 
{% block contenido %}	
		
<div class="row">
	<div class="col-lg-12">
		<div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Listado de Album</h6>
            </div>
            <div class="card-body">
            	<div data-bind="html: mensaje"></div>
            	<div class="col-lg-12" data-bind="visible:(listado()!=null && listado().length > 0)">
            		<div class="table-responsive ">
            			<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            				<thead class="bg-danger text-white text-center">
            					<tr>
            						<th class="font-weight-bold">id</th>
            						<th class="font-weight-bold">Nombre</th>
									<th class="font-weight-bold">Artista</th>
									<th class="font-weight-bold">Caratula</th>
            					</tr>
            				</thead>
            				<tbody>
            					<!--ko foreach:{ data:listado, as:'item'} -->
            						<tr class="text-center">
            							<td data-bind="text: item.id" class="font-weight-bold" style="color:black"></td>
            							<td data-bind="text: item.nombre" style="color:black"></td>
										<td data-bind="text: item.artista.nombre" style="color:black"></td>
										<td><img data-bind="attr:{src: item.caratula}" class="img-thumbnail img-fluid" width="100"></td>
            						</tr>
            					<!--/ko-->
            				</tbody>
            			</table>
            		</div>
            		<div id="paginacion" >
                    <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                    </div>
                  </div>
            	</div>
            </div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="nuevoAlbum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear nuevo album</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="form-group row">

            <input type="text" class="form-control form-control-user" id="nombre"
              placeholder="Nombre" data-bind="value: albumVO.nombre">

        </div>
        <div class="form-group row">

            <select id="artista" class="form-control form-control-user" data-bind="value: albumVO.artista_id">  <option value="0">Seleccione...</option>
              <!--ko foreach: { data:listadoDeArtistas , as:'item'}-->        
                <option data-bind="value:item.id, text:item.nombre"></option>
              <!-- /ko -->
            </select>

        </div>
        <div class="form-group">
          
               <input type="file" class="note-image-input" id="caratula" name="caratula" data-bind="fileData:{value:albumVO.caratula,allowedFileExtensions: ['png','jpg'],elErrorContainer: '#errorBlock', removeLabel:''}"/>
                      
            

        </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bind="click: guardar_album">Guardar</button>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}

{% block imports %}
  <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
	<script type="text/javascript" src='{% static "js/ViewModels/album/album.js" %}'></script>
	<script type="text/javascript">
		$(document).ready(function () {
			album.consultar(1);
		});
	</script>
{% endblock %}